<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置Mybatis参数 -->
	<settings>
		<!-- 使用LOG4J日志 -->
		<setting  name="logImpl"  value="LOG4J" />
		<!-- 使用二级缓存 -->
		<setting name="cacheEnabled" value="true" />			
	</settings>
	<!-- 自动扫描po并定义别名 -->
	<typeAliases>
		<package name="com.gdkm.po" />
	</typeAliases>
</configuration>
